body {
  font: 20px "Raleway", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

h3 {
  padding-bottom: 10px;
}

p {
  font-size: 16px;
}

.bg-0{
  background-color: #dddddd;
}

.bg-1{
  background-image: url("../images/back2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color : #87d1e1;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) ;
}


.img-circle {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30) ;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30) ;
}
.bg-2 {
  background-color : #474e5d;
  color: #ffffff;
}
.bg-posts {
  min-height: 200px;
}
.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

/*
.fade2 {visibility:hidden;}
.fade3 {visibility:hidden;}*/
.faded {
    /* The name of the animation */
    animation-name: faded;
    -webkit-animation-name: faded;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}
@keyframes faded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes faded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.costum {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*
.costum {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-1{
  padding-top: 150px;
  padding-bottom: 200px;
  padding-right:0px;
  padding-left:0px;
  box-shadow: 0px 0px 8px 0px rgb(0,0,0,0.4);
}
*/

.bg-1 img {
  margin-top: 50px;
  max-width: 250px;
}

.btn {
  margin-top: 10px;
}
.bg-4 {
  background-color: #333333;
  color: #999999;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0;
  border-radius: 0;
  margin-bottom:0;
  font-size: 14px;
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.navbar-nav li a:hover{
  text-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  color: #1abc9c;
  background-color: rgba(245, 245, 245, 0.6);
}

.navbarSolid{
  background-color: rgba(245, 245, 245, 1);
}

.navbar-header a:hover{
  text-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.col-sm-4 {
  padding-bottom: 30px;
}


.fadeOnLoad1 {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

.fadeIn {
  visibility: visible;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0; visibility: visible}
  100% {opacity:1; visibility: visible}
}

@keyframes fadeIn{
  0% {opacity:0; visibility: visible}
  100% {opacity:1; visibility: visible}
}
